<!-- Header -->

<header class="menu_wrapper">
	<nav class="navbar navbar-expand-lg">
		<div class="container">
			<a class="navbar-brand" href="#">
				<!-- <img src="../../assets/Images/ratedpeople.png" alt="" width="40" height="40" class="img">-->
				<span>Top Builder Near Me</span> 
			</a>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<div>
					<ul class="navbar-nav mb-2 mb-lg-0">
						<li class="nav-item">
							<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon><a class="nav-link active" aria-current="page" href="#">Home</a>
						</li>
						<!-- <a routerLink="/" routerLinkActive="active" class="nav-link">Ask</a>				 -->
					</ul>
				</div>				
			</div>
			<div>
				<button class="btn btn-primary join-button" (click)="signup()">Join as a professional</button>
			</div>
		</div>
	</nav>
</header>