<!-- Header -->

<header class="menu_wrapper">
	<nav class="navbar navbar-expand-lg">
		<div class="container">
			<a class="navbar-brand" href="#">
				<!-- <img src="../../assets/Images/ratedpeople.png" alt="" width="40" height="40" class="img">-->
				<span>Top Builder Near Me</span> 
			</a>

			<!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> -->
				<!-- <i class="fa-duotone fa-bars-staggered navbar-toggler-icon"></i> -->
				<!-- <span class="material-symbols-outlined">
					menu
				</span> -->
			<!-- </button> -->
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mb-2 mb-lg-0">
				<li class="nav-item">
					<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon><a class="nav-link active" aria-current="page" href="#">Home</a>
				</li>
				<!-- <li class="nav-item dropdown dropdown-mega position-static">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
						Find a trade
					</a>
					<div class="dropdown-menu shadow">
						<div class="mega-content px-md-3">
							<div class="container-fluid">	
								<div class="row">

									<div class="col-lg-4 col-sm-6 py-4 px-xl-5 px-4">
										<h5>Trades</h5>
										<div class="list-group">
											<a class="list-group-item" href="#">Bathroom Fitter</a>
											<a class="list-group-item" href="#">Blacksmith/Metal Worker</a>
											<a class="list-group-item" href="#">Bricklayer</a>
											<a class="list-group-item" href="#">Builder</a>
											<a class="list-group-item" href="#">Carpenter/Joiner</a>
											<a class="list-group-item" href="#">Cleaners</a>
											<a class="list-group-item" href="#">Conservatories/soffits</a>
											<a class="list-group-item" href="#">Door Fitters</a>
											<a class="list-group-item" href="#">
												Drainage Specialist</a>
											<a class="list-group-item" href="#">Driveway Specialist</a>
											<a class="list-group-item" href="#">Electrician</a>
											<a class="list-group-item" href="#">Fencing Contractors</a>
											<a class="list-group-item" href="#">Floor Fitters</a>
											<a class="list-group-item" href="#">
												Gardener/Landscape Gardener</a>
											<a class="list-group-item" href="#">Gas/Heating Engineer</a>
										</div>
									</div>
									<div class="col-lg-4 col-sm-6 py-4 px-xl-5 px-4">
										<h5>Skills</h5>
										<div class="list-group">
											<a class="list-group-item" href="#">Access Control/Door Entry</a>
											<a class="list-group-item" href="#">Air Conditioning/Refrigeration</a>
											<a class="list-group-item" href="#">Bathroom Design</a>
											<a class="list-group-item" href="#">Bathroom Installation</a>
											<a class="list-group-item" href="#">Bathroom Repair</a>
											<a class="list-group-item" href="#">Brick/Block Paving</a>
											<a class="list-group-item" href="#">Burglar Repairs</a>
											<a class="list-group-item" href="#">Carpet Cleaning</a>
											<a class="list-group-item" href="#">
												Chimney Building/Repair</a>
											<a class="list-group-item" href="#">Complete Bathroom Refurbishment</a>
											<a class="list-group-item" href="#">Complete Kitchen Refurbishment</a>
											<a class="list-group-item" href="#">Conservatory</a>
											<a class="list-group-item" href="#">Crown Reduction</a>
											<a class="list-group-item" href="#">
												Crown Thinning</a>
											<a class="list-group-item" href="#">Damp Proofing</a>
										</div>
									</div>
									<div class="col-lg-4 col-sm-6 py-4 px-xl-5 px-4">
										<h5>Locations</h5>
										<div class="list-group">
											<a class="list-group-item" href="#">Berkshire</a>
											<a class="list-group-item" href="#">Bermingham</a>
											<a class="list-group-item" href="#">Cheshire</a>
											<a class="list-group-item" href="#">Cornwall</a>
											<a class="list-group-item" href="#">Devon</a>
											<a class="list-group-item" href="#">Essex</a>
											<a class="list-group-item" href="#">Glasgow Area</a>
											<a class="list-group-item" href="#">Gwent</a>
											<a class="list-group-item" href="#">
												Hampshire</a>
											<a class="list-group-item" href="#">Hertfordshire</a>
											<a class="list-group-item" href="#">kent</a>
											<a class="list-group-item" href="#">Lancashire</a>
											<a class="list-group-item" href="#">Leicestershire</a>
											<a class="list-group-item" href="#">
												Lincoinshire</a>
											<a class="list-group-item" href="#">London</a>
										</div>
									</div>
	
								</div>
							</div>
						</div>
					</div>
					
				</li> -->
				<!-- <li class="nav-item">
					<a routerLink="/" routerLinkActive="active" class="nav-link">Ask</a>
				</li>
				<li class="nav-item">
					<a routerLink="/" routerLinkActive="active" class="nav-link">Trends report</a>
				</li>
				<li class="nav-item dropdown position-static">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
						Advice
					</a>
					<div class="dropdown-menu shadow">
						<div class="content px-md-2">
							<div class="container-fluid">	
								<div class="row">

									<div class="col-lg-12 col-sm-12 py-2 px-xl-3 px-2">
										<div class="list-group">
											<a class="list-group-item" href="#">Cost guides</a>
											<a class="list-group-item" href="#">Homeowner advice centre</a>
											<a class="list-group-item" href="#">Inspiration centre</a>
											<a class="list-group-item" href="#">Trade advice centre</a>
										</div>
									</div>
	
								</div>
							</div>
						</div>
					</div>
					
				</li> -->
				</ul>
				<!-- <form class="d-flex ms-auto" role="search">
					<div class="input-group">
						<input class="form-control border-0 me-0" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success" type="submit">Search</button>
					</div>
				</form> -->
			</div>
		</div>
	</nav>
</header>