  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap');


.navbar-header {
    width: 100vw;
    height: 50px;
    margin-bottom: 15px;
    background-color: #87a9e2;
    font-family: 'Roboto', sans-serif;
}

.navbar-collapse {
  align-items: flex-start;  
}

button:focus,
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.menu_wrapper {
  background-color: #87a9e2;
  /* padding: 0px 0px;
  margin: 0px 0px; */
}
  
.menu_wrapper .navbar-brand {
  font-size: 25px;
  font-weight: 800;
  color: black;
  -webkit-text-stroke: white .5px;
}

.menu_wrapper .navbar-brand:hover {
  color: rgb(241, 141, 95);
}

.menu_wrapper .navbar-nav .nav-item {
  margin: 0 7px;
}

.menu_wrapper .navbar-nav .nav-link {
  font-size: 16px;
  font-weight: 400;
  color: black;
  display: inline-block;
}

.menu_wrapper .navbar-nav .nav-link:hover {
  font-size: 16px;
  font-weight: 600;
  color: #575d63;
}

.menu_wrapper .dropdown-menu .dropdown-item {
  margin-bottom: 10px;
}

.menu_wrapper .dropdown-menu .dropdown-item:hover {
  background-color: #adb7c0;
  color: #575d63;
}

.menu_wrapper .dropdown-mega .dropdown-menu {
  width: 80%;
}

.dropdown-mega h5 {
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  margin: 0;
}

.list-group-item {
  font-size: 16px;
  color: #3F3B51;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  padding: 12px 0;
}

.list-group-item:hover {
  color: #827e94;
}

.btn {
  background-color: rgb(233, 80, 10);
}


/* Responsive */
@media(max-width: 768px) {
  .navbar-brand {
      font-size: 20px
  }

  .navbar-nav .nav-item {
      margin: 5px 10px;
  }

  form {
    margin: 30px 0;
  }

}