<footer class="footer">
    <div class="row footer-top">
        <div class="col-3 footer-top-1">
            <span class="footer-title">Top Builder Near Me</span>
        </div>
        <div class="col-6 footer-top-2">
            <div class="row">
                <div class="col-4 link-wrapper">
                    <a href="#">Create a Job</a>
                </div>
                <div class="col-4 link-wrapper">
                    <a href="#">Sign up</a>
                </div>
                <div class="col-4 link-wrapper">
                    <a href="#">About us</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <h3 class="follow-us">Follow Us</h3>
        </div>
    </div>
    <div class="row footer-bottom">
        <div>
            Copyright © 2023 Top Builder Near Me. All Rights Reserved
        </div>
        <div class="contact-us-links">
            <a href="#">Terms of Use</a> 
            <span>|</span>
            <a href="#">Privacy Policy</a>
            <span>|</span>
            <a href="#">Contact Us</a>
        </div>
    </div>
</footer>