.our-services-title {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 10px;
}

.title {
    width: 335px;
    margin: 4px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    align-items: center;
    padding-bottom: 20px;    
    border-bottom: 1px solid dodgerblue;
  }

  .cards-container-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
  }
  
  .cards-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 5px;
    /* max-width:1125px; */
  }

  .our-services-card {
    width: 100%;    
    margin: 5px 15px;
    padding: 7px 7x;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;      
  }

  .col-images {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .row-images {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
  }

  .our-service {
    font-weight: 600;
    font-size: 16px;
    color: #636065;
    text-decoration: none;  
  }

  .our-service:hover{
    text-decoration: underline;
  }

  .service-with-image {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    margin-bottom: 10px;
  }

  .service-with-image > .service-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    width:50px;
    height: 50px;
    border-radius: 25px;
    border-color: lightgray;
    /* background-color: white; */
    background-color: #f0f0f0;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 2px 8px, rgba(17, 17, 26, 0.05) 0px 4px 8px;
    margin-bottom: 10px;
  }

  .service-image:hover {
    background-color: #87a9e2;
    box-shadow: #032052(17, 17, 26, 0.5) 0px 8px 16px, #032052(17, 17, 26, 0.1) 0px 16px 32px;
  }

  img {
    width: 30px;
    height: 30px;
  }

  a {
    font-size: 16px;
    font-weight: 800;
  }