<div class="col-md-12" style="margin-top: 30px;">
	<form class="col col-sm-12 col-md-12 col-lg-12">
		<div class="our-services-title col-md-12">			
			<h2 class="title">Our Trades and Services</h2>				
		</div>
		<div class="row cards-container-wrapper">			
			<div class="cards-container">
				<div class="our-services-card">
					<div class="col col-images">
						<div class="row row-images">
							<div class="service-with-image">
								<div class="service-image">
									<a [routerLink]="['/plumber']"><img mat-card-image src="../../assets/Images/Trades/plumber.png" alt="Plumber"></a>
								</div>
								<div>
									<a class="our-service" [routerLink]="['/plumber']">Plumber</a> 
								</div>
							</div>
							<div class="service-with-image">
								<div class="service-image">
									<a [routerLink]="['/builder']"><img mat-card-image src="../../assets/Images/Trades/builder.png" alt="Builder"></a>
								</div>
								<div>
									<a class="our-service" [routerLink]="['/builder']">Builder</a> 
								</div>
							</div>
							<div class="service-with-image">
								<div class="service-image">
									<a [routerLink]="['/carpenter']"><img mat-card-image src="../../assets/Images/Trades/carpenter.png" alt="Carpenter"></a>
								</div>
								<div>
									<a class="our-service" [routerLink]="['/carpenter']">Carpenter</a> 
								</div>
							</div>
							<div class="service-with-image">
								<div class="service-image">
									<a [routerLink]="['/painter']"><img mat-card-image src="../../assets/Images/Trades/painter.png" alt="Painter"></a>
								</div>
								<div>
									<a class="our-service" [routerLink]="['/painter']">Painter</a> 
								</div>
							</div>
						</div>
						<div class="row row-images">
							<div class="service-with-image">
								<div class="service-image">
									<a [routerLink]="['/kitchenspecialist']"><img mat-card-image src="../../assets/Images/Trades/kitchen.png" alt="Kitchen Specialist"></a>
								</div>
								<div>
									<a class="our-service" [routerLink]="['/kitchenspecialist']">Kitchen Specialist</a> 
								</div>
							</div>
							<div class="service-with-image">
								<div class="service-image">
									<a [routerLink]="['/electrician']"><img mat-card-image src="../../assets/Images/Trades/electrician.png" alt="Electrician"></a>
								</div>
								<div>
									<a class="our-service" [routerLink]="['/electrician']">Electrician</a> 
								</div>
							</div>
							<div class="service-with-image">
								<div class="service-image">
									<a [routerLink]="['/roofer']"><img mat-card-image src="../../assets/Images/Trades/roofer.png" alt="Roofer"></a>
								</div>
								<div>
									<a class="our-service" [routerLink]="['/roofer']">Roofer</a> 
								</div>
							</div>
							<div class="service-with-image">
								<div class="service-image">
									<a [routerLink]="['/cleaner']"><img mat-card-image src="../../assets/Images/Trades/cleaner.png" alt="Cleaner"></a>
								</div>
								<div>
									<a class="our-service" [routerLink]="['cleaner']">Cleaner</a>
								</div>
							</div>
						</div>
					</div>
				</div>					
			</div>
		</div>
	</form>
</div>