.our-services-title {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 0px;
}

.title {
    width: 335px;
    margin: 4px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    align-items: center;
    padding-bottom: 20px;    
    border-bottom: 1px solid dodgerblue;
  }

  .cards-container-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .cards-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 5px;
    max-width:1125px;
  }

  .our-services-card {
    width: 335px;    
    margin: 5px 15px;
    padding: 7px 7x;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;      
  }

  .our-service {
    font-weight: 300;
    font-size: 16px;
    color: #636065;
    text-decoration: none;  
  }

  .our-service:hover{
    text-decoration: underline;
  }

  .service-with-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    margin-bottom: 10px;
  }

  .service-with-image > .service-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    width:50px;
    height: 50px;
    border-radius: 25px;
    border-color: lightgray;
    background-color: white;
    margin-bottom: 5px;
  }

  img {
    width: 30px;
    height: 30px;
  }