<div class="col-md-12" style="margin-top: 30px;">
	<form class="col col-sm-12 col-md-12 col-lg-12">
		<div class="our-services-title col-md-12">			
			<h2 class="title">Our Trades and Services</h2>				
		</div>
		<div class="row cards-container-wrapper">			
			<div class="cards-container">
				<div class="our-services-card" *ngFor="let tradeperson of filteredTradeperson">
					<div class="service-with-image">
						<div class="service-image">
							<img mat-card-image src="../../assets/Images/PopularJobs/Carpenter.png" alt="Built-In Furniture">
						</div>
						<div>
							<a class="our-service" [routerLink]="['/plumber']">{{ tradeperson.Title }}</a> 
						</div>
					</div>
					<div class="service-with-image">
						<div class="service-image">
							<img mat-card-image src="../../assets/Images/PopularJobs/Carpenter.png" alt="Built-In Furniture">
						</div>
						<div>
							<a class="our-service" [routerLink]="['/plumber']">{{ tradeperson.Title }}</a> 
						</div>
					</div>
				</div>					
			</div>
		</div>
	</form>
</div>