<div class="col-md-12" style="margin-top: 30px;">
	<form class="col col-sm-12 col-md-12 col-lg-12">
		<div class="our-services-title col-md-12">			
			<h2 class="title">Our Trades and Services</h2>				
		</div>
		<div class="row cards-container-wrapper">			
			<div class="cards-container">
				<div class="our-services-card" *ngFor="let tradeperson of filteredTradeperson">
					<a class="our-service" (click)="onClick()" href="">{{ tradeperson.Title }}</a> 
				</div>					
			</div>
		</div>
	</form>
</div>