<div class="container mt-4">
	<div class="mt-3">
		<h3>My Business</h3>
		<!-- <button class="btn btn-danger" (click)="closeQuiz()">Close</button> -->
	</div>

	<!-- <div class="progress mt-3 mb-4" style="height: 20px;"> -->
		<!-- <div class="progress-bar" role="progressbar" aria-label="Example 20px high" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div> -->					
	 <!-- </div> -->

	 <mat-progress-bar class="progress" mode="determinate" value="40">
		<div class="progress-bar" role="progressbar" aria-label="Example 20px high" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
	</mat-progress-bar>

	 <app-screen [questionTitle]="questionTitle" [options]="options" [selectedOptionId]="selectedOptionId" (optionChanged)="optionChanged($event)"></app-screen>
		
	<div class="mt-3">
      <button class="btn btn-secondary mr-2" (click)="goToPreviousQuestion()" style="margin-right: 10px;">Back</button>
      <button class="btn btn-primary mr-2" (click)="goToNextQuestion()" [disabled]="">Next</button>      
	  <!-- <div class="button-row">
		<button mat-fab extended color="primary">
			<mat-icon>
				<span class="material-symbols-outlined">arrow_back</span>
			</mat-icon>Back
		</button>
		<button mat-fab extended color="primary">
			<mat-icon>
				<span class="material-symbols-outlined">arrow_forward</span>
			</mat-icon>Next
		</button>
	</div> -->
    </div>
</div>