<div class="container">
	<mat-toolbar color="#f1f1f1">
		<mat-toolbar-row>
		<a href="#">
			<img src="../../assets/Images/ratedpeople.png" alt="" width="40" height="40" class="img">
			<span class="logo_name">My Business</span>
		</a>
		<span class="example-spacer"></span>
		<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="closeQuiz()">
			<span class="material-symbols-outlined">
				close
			</span>
		</button>
		</mat-toolbar-row>
	</mat-toolbar> 

	<mat-progress-bar class="progress" mode="determinate" value="40">
		<div class="progress-bar" role="progressbar" aria-label="Example 30px high" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
	</mat-progress-bar>

	<app-screen [questionTitle]="questionTitle" [options]="options" [selectedOptionId]="selectedOptionId" 
	(optionChanged)="optionChanged($event)" [screenType]="screenType"></app-screen>
		
	 
	<div class="button-row">
		<button mat-fab extended color="primary" (click)="goToPreviousQuestion()" style="margin-right: 10px;" [disabled]="questionIndex == 0">
			<span class="material-symbols-outlined">arrow_back</span>Back
		</button>
		<button mat-fab extended color="primary" (click)="goToNextQuestion()" [disabled]="">
			Next
			<span class="material-symbols-outlined">arrow_forward</span>
		</button>
	</div> 
</div>