<div>
	<div class="flex-container">
		<form class="electrician-form">
			<div class="row row-localelectrician">
						<div class="row col-md-12 row-image">
							<div class="col col-md-5">
								<div class="container">
									<form class="col col-sm-12 col-md-12 col-lg-12 login-form">	
										<mat-card class="login-card">
											<mat-card-content>
												<mat-title class="login-title">
													Post your job for free. Get quotes. Read reviews.
												</mat-title>
													<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-select">
														<label for="tradeperson" class="form-label">What type of tradeperson do you need?</label>
														<mat-form-field class="mat-trade">
															<mat-label>Select your trade</mat-label>
															<mat-select [(value)]="selectedTrade">
																<mat-option value="Bathroom Fitter">Bathroom Fitter</mat-option>
																<mat-option value="Builder">Builder</mat-option>
																<mat-option value="Carpenter">Carpenter</mat-option>
															</mat-select>
														</mat-form-field>

														<label for="job" class="form-label">What type of job is it?</label>
														<mat-form-field class="mat-job">
															<mat-label>Please select job</mat-label>
															<mat-select [(value)]="selectedJob">
																<mat-option value="Bathroom Design">Bathroom Design</mat-option>
																<mat-option value="Bathroom Repair">Bathroom Repair</mat-option>
																<mat-option value="Bathroom Tiling">Bathroom Tiling</mat-option>
															</mat-select>
														</mat-form-field>
													</div>
												
												<div class="col-sm-12 col-md-12 col-lg-12 login-button">
													<button mat-raised-button color="primary">NEXT STEP ></button>
												</div>
											</mat-card-content>
										</mat-card>
									</form>
								</div>
							</div>
							<div class="col offset-md-1 col-md-6 card-img">
								<img mat-card-image src="../../assets/Images/tpPages/electrician-work.jpg" alt="Electrician">
							</div>
						</div>

						<div class="card-image">
							<div class="electrician-data">
								<div class="col-dataelectrician">
									<mat-card class="electrician-card">
										<mat-card-content class="electriciandata-content">
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row row-electriciandata">
												<mat-title>
													<h2 class="heading">How to Find the Best Local Electrician: Expert Tips and Pricing Guide</h2>
												</mat-title>
												<p>
													When electrical issues arise, finding a reliable local electrician becomes a top priority. Whether it's faulty wiring, power outages, or home improvement projects that require electrical work, hiring the right electrician can save you time, money, and ensure safety. Here are some expert tips to help you in your search for the best local electrician in the UK, along with a general pricing guide for common electrical services.
												</p>
											</div>
							
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row row-electriciandatalist">
												<ul class="list-group">
													<li class="list-group-item">
														<mat-subtitle>
															<b>1. Explore Qualified Electricians</b>
														</mat-subtitle>
														<p>
															Start your search by exploring our network of qualified electricians. Our platform connects you with skilled professionals who are equipped to handle a wide range of electrical projects, from repairs to installations.
														</p>
													</li>
													<li class="list-group-item">
														<mat-subtitle>
															<b>2. Check Credentials</b>
														</mat-subtitle>
														<p>
															Ensure the electrician you're considering is licensed and insured. A valid license demonstrates their competency and adherence to local electrical codes. Insurance provides protection for both you and the electrician in case of accidents or damage during the job.	
														</p>
													</li>
													<li class="list-group-item">
														<mat-subtitle>
															<b>3. Read Online Reviews</b>
														</mat-subtitle>
														<p>
															Leverage online review platforms to gain insights from past customers. Websites like Yelp, Google, or our platform provide valuable feedback about the electrician's performance, reliability, and customer service.
														</p>
													</li>
													<li class="list-group-item">
														<mat-subtitle>
															<b>4. Assess Experience</b>
														</mat-subtitle>
														<p>
															Inquire about the electrician's experience. Find out how long they've been in business and whether they specialize in the type of electrical work you require. Experienced electricians often have the expertise to handle complex electrical issues efficiently.	
														</p>
													</li>
													<li class="list-group-item">
														<mat-subtitle>
															<b>5. Get Multiple Quotes</b>
														</mat-subtitle>
														<p>
															Don't settle for the first quote you receive. Request estimates from several electricians to compare pricing and services. While pricing can vary based on factors such as location and project complexity, here's a general guide to common electrical service costs in the UK:	
														</p>
															<ul class="list-groupQuotes">
																<li class="list-group-item"><span><i class="bi bi-circle-fill"></i></span>Fixing an outlet or switch: £50 - £100</li>
																<li class="list-group-item"><span><i class="bi bi-circle-fill"></i></span>Installing a ceiling fan: £100 - £250</li>
																<li class="list-group-item"><span><i class="bi bi-circle-fill"></i></span>Rewiring a room: £400 - £800</li>
																<li class="list-group-item"><span><i class="bi bi-circle-fill"></i></span>Upgrading a circuit panel: £500 - £1,500</li>
																<li class="list-group-item"><span><i class="bi bi-circle-fill"></i></span>Outdoor lighting installation: £200 - £500</li>
																<li class="list-group-item"><span><i class="bi bi-circle-fill"></i></span>Emergency electrical repairs: Costs vary based on urgency and time of day.</li>	
															</ul>
														<p>
															Please note that these are approximate costs and can vary based on your specific location and project requirements.
														</p>
													</li>
													<li class="list-group-item">
														<mat-subtitle>
															<b>6. Clarify the Scope</b>
														</mat-subtitle>
														<p>
															Discuss the project thoroughly with the electrician to ensure they understand your needs. Request a written estimate that includes all costs, materials, and timelines to avoid surprises.	
														</p>
													</li>
													<li class="list-group-item">
														<mat-subtitle>
															<b>7. Inquire About Guarantees</b>
														</mat-subtitle>
														<p>
															Reputable electricians often offer guarantees for their work. Ask about warranties or guarantees on the services provided. Knowing that the electrician stands behind their work can provide peace of mind.	
														</p>
													</li>
													<li class="list-group-item">
														<mat-subtitle>
															<b>8. Check Availability</b>
														</mat-subtitle>
														<p>
															Consider the electrician's availability and response time, especially for electrical emergencies. Quick response times can be crucial in urgent situations.
														</p>
													</li>
													<li class="list-group-item">
														<mat-subtitle>
															<b>9. Assess Professionalism</b>
														</mat-subtitle>
														<p>
															Evaluate the electrician's professionalism during your interactions. Punctuality, clear communication, and preparedness are indicators of a dedicated professional.
														</p>
													</li>
													<li class="list-group-item">
														<mat-subtitle>
														<b>10. Trust Your Instincts</b>
														</mat-subtitle>
														<p>
															Ultimately, trust your instincts when hiring an electrician. If something doesn't feel right or you have doubts about their qualifications, continue your search. Confidence in your electrician is essential for a successful electrical project.
															By following these expert tips and referring to the pricing guide, you can enhance your chances of finding the best local electrician for your specific electrical needs. A well-chosen electrician can ensure the safety and efficiency of your electrical systems and projects in the UK.
														</p>
													</li>
												</ul>
											</div>
										</mat-card-content>
									</mat-card>
								</div>
							</div>	
						</div>			
				</div>
				
		</form> 
	</div>
</div>
  
