<div class="container">
	<form class="col-sm-12 col-md-12 col-lg-12 addphotos-form">
		<div class="row row-addphotos">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-addphotos">
				<ul class="list-group list-group-horizontal flex-*-grow-0">
					<li class="list-group-item1" href="">
						<button  type=button class="btn btn-img">
							File
						</button>
					</li>
					<li class="list-group-item" href="">Image2</li>
					<li class="list-group-item" href="">Image3</li>
					<li class="list-group-item" href="">Image4</li>
					<li class="list-group-item" href="">Image5</li>
					<li class="list-group-item" href="">Image6</li>
				</ul>
			</div>
			
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-video">
				<mat-card class="video-card">
					<mat-card-header>
						<mat-card-title>Bring your job to life</mat-card-title>
					</mat-card-header>
					<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
					<mat-card-content>
						<p>
							Photos and videos significantly increase a tradesperson's understanding of what you need, right from the start.
						</p>
					</mat-card-content>
				</mat-card>
			</div>
		</div>
	</form>
</div>