<div class="container">		
	<div>		
		<app-file-upload (fileSelection)="onFileSelection($event)">							
		</app-file-upload>
	</div>		
	<div>
		<div class="row">
			<div class="col">
				<mat-grid-list cols="2" gutterSize="5">
					<mat-grid-tile *ngFor="let fileUrl of fileUrls">							
						<img [src]="fileUrl" height="100px">
					</mat-grid-tile>			
				</mat-grid-list>
			</div>
		</div>
	</div>
	<div>
		<mat-card class="video-card">
			<mat-card-header>
				<mat-card-title>Bring your job to life</mat-card-title>
			</mat-card-header>
			<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
			<mat-card-content>
				<p>
					Photos and videos significantly increase a tradesperson's understanding of what you need, right from the start.
				</p>
			</mat-card-content>
		</mat-card>
	</div>	
</div>