.container {
	display: flex;
	align-items: center;
	justify-content: left;
	flex-direction: column;
}

.budget-form {
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
}

.row-msg {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(121, 121, 121);
  font-size: 16px;
  font-weight: 200;
}

.row-budget {
  
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}

.mat-budget {
  width: 350px;
}

mat-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  
}

.col-message {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: rgb(233, 80, 10);
  margin: 20px;
 
}

.card-message {
  padding-top: 15px;
  color: rgb(121, 121, 121);
}

.material-symbols-outlined {  
  color: rgb(233, 80, 10);
  font-weight: 600;
} 

#symbol-report {
  color: #1c39bb;
  margin-right: 5px;
  font-weight: 500;
}

.mat-card-content-div{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container {
	display: flex;
	align-items: center;
	justify-content: left;
	flex-direction: column;
}

.budget-form {
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
}

.row-msg {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(121, 121, 121);
  font-size: 16px;
  font-weight: 200;
}

.row-budget {
  
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}

.mat-budget {
  width: 350px;
}

mat-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  
}

.col-message {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: rgb(233, 80, 10);
  margin: 20px;
 
}

.card-message {
  padding-top: 15px;
  color: rgb(121, 121, 121);
}

.material-symbols-outlined {  
  color: rgb(233, 80, 10);
  font-weight: 600;
} 

#symbol-report {
  color: #1c39bb;
  margin-right: 5px;
  font-weight: 500;
}

.mat-card-content-div{
  display: flex;
  flex-direction: row;
  align-items: center;
}
