<div class="container">
	<form class="col col-sm-12 col-md-12 col-lg-12 describe-form">
			<div class="row row-describe">
				
				<div class="col col-xs-6 col-sm-6 col-md-5 col-lg-5 col-describe">
					<mat-form-field class="mat-describe">
						<mat-label>Describe:</mat-label>
                        <textarea matInput placeholder="eg. Describe what you want done"></textarea>
						<mat-hint align="end"><small>At least 30 characters please</small></mat-hint>
					</mat-form-field>
				</div>
				<div class="col col-xs-6 col-sm-6 col-md-5 col-lg-5 col-message">
					<mat-card>
						<mat-card-content class="card-message">
							<h3>What makes a good job description</h3>
								<mat-list class="example-list-wrapping">
									<mat-list-item lines="3">
										<span matListItemTitle>
											<mat-icon matListIcon>
											<span class="material-symbols-outlined">
												fiber_manual_record
											</span>
											</mat-icon>
										</span>
											Include the size and the scope of the work e.g. number of rooms, size of a wall.
									</mat-list-item>
									<mat-list-item lines="3">
										<span matListItemTitle>
											<mat-icon matListIcon>
											<span class="material-symbols-outlined">
												fiber_manual_record
											</span>
											</mat-icon>
										</span>
										Or, describe the problem you're experiencing. e.g. 'fuse box keeps tripping when...'
									</mat-list-item>
									<mat-list-item lines="3">
										<span matListItemTitle>
											<mat-icon matListIcon>
											<span class="material-symbols-outlined">
												fiber_manual_record
											</span>
											</mat-icon>
										</span>
										Have you already bought materials, or do you want the tradesperson to supply them?
									</mat-list-item>
								</mat-list>
						</mat-card-content>
					</mat-card>
				</div>
			</div>
	</form>
</div>


