.container {
	display: flex;
	align-items: center;
	justify-content: left;
	flex-direction: column;
}

.jobtitle-form {
  width: 100%;
  display: flex;
	align-items: center;
	justify-content: left;
	flex-direction: row;
}

.row-jobtitle {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
}

.mat-jobtitle {
  width: 350px;
}

mat-card {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

.col-message {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: row;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: rgb(233, 80, 10);
  margin: 20px;
 
}

.card-message {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(121, 121, 121);
}

.material-symbols-outlined {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(233, 80, 10);
}

#symbol-report {
  color: #1c39bb;
}
