.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.jobtitle-form {
  width: 90%;
  padding: 20px;
  margin: 20px;
  display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.row-jobtitle {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.mat-jobtitle {
  align-items:end;
  width: 300px;
}

.col-jobtitle {
  width: 50%;
}

.col-message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: rgb(233, 80, 10);
  margin: 20px;
 
}

.card-message {
  color: rgb(121, 121, 121);
}
