<div class="container">
	<form class="col col-sm-12 col-md-12 col-lg-12 col-xl-12 plumber-form">
		<div class="row row-localplumber">
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-postplumber">

			</div>
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-localplumber">
				<mat-card class="plumber-card">
					<mat-card-content>
						<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-detail">
							<mat-title>
								Find Local Plumbers Near Me
							</mat-title>
							<p>Find everything you need to know about hiring a Local plumber right here. Get all the information on Plumbing work so you can get quotes for fixing a tap, replacing a shower or to fit underfloor heating</p>
							
							<a href=""><span>What a plumber can help with</span></a>
							<a href=""><span>Costs for common plumbing jobs</span></a>
							<a href=""><span>The qualifications your plumber needs</span></a>
							<a href=""><span>Questions you should ask a plumber</span></a>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-image">
							<div class="col card-image">
								<img mat-card-image src="../../assets/Images/tpPages/Workman.jpeg" alt="Internal Lighting">
							</div>
						</div>
					</mat-card-content>
				</mat-card>
			</div>
		</div>	
	</form> 
</div>
  
<!-- <div class="container plumber-data">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-dataplumber">
		<mat-card class="plumberdata-card">
			<mat-card-content>
				<mat-title>
					How to Find the Best Local Plumber: Expert Tips and Pricing Guide
				</mat-title>
				<p>When plumbing issues arise, finding a reliable local plumber in the UK becomes a top priority. Whether it's a leaking faucet, a clogged drain, or a major plumbing project, hiring the right plumber can save you time, money, and headaches. Here are some expert tips to help you in your search, along with a general pricing guide for common plumbing services in the UK, including emergency callout information.</p>
				
				
				<ul class="list-group">
					<li class="list-group-item">
						<mat-subtitle>
							1.	Browse Qualified Plumbers
						</mat-subtitle>
						<p>
							Begin your search by browsing through our network of qualified plumbers. Our platform connects you with skilled professionals who are ready to take on your plumbing project.This change encourages users to explore the plumbers available on your platform, making it more relevant to your service.
						</p>
					</li>
					<li class="list-group-item">A second item</li>
					<li class="list-group-item">A third item</li>
					<li class="list-group-item">A fourth item</li>
					<li class="list-group-item">And a fifth one</li>
				 </ul>
			</mat-card-content>
		</mat-card>
	</div>
</div> -->