* {
  font-family: 'Open Sans', sans-serif;
}

.flex-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
  }

  .plumber-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .row-localplumber {
    width: 100%;
    display: flex;
    justify-content:center;
    flex-direction: row;
  }
  
   mat-card-title {
    margin: 4px;
    padding: 2px;
    color: #333;
    align-items: center;
    font-weight: 500;
  } 

  .plumber-card {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    border: none; 
    border-color: white;
  }

  .card-content {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
  }

  .col-detail {
    display: flex;
    justify-content: center;
    flex-direction: column;    
    padding-left: 12px;
    width: 800px;
  }

  mat-title {
    width: 100%;
    margin: 2px 0px;
    font-size: 26px;
    font-weight: 700;
    color: #333;
    align-items: center;
    padding-bottom: 12px;    
  }

  .mat-mdc-card {
    box-shadow: none;
  }

  p {
    font-size: 18px;
    color: #333;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
    text-align: justify;
    text-justify: inter-word;
  }

  span {
    /* color: skyblue; */
    /* color: #C3D4F2; */
    color: #87a9e2;
    font-weight: 600;
    justify-content: center;
  }

  a {
    font-size: 18px;
    line-height: 1.5;
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    font-stretch:wider; 
  }

  a:hover {
    text-decoration: underline;
  }
  
          /* Plumber data css code */

  .plumber-data {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    /* border: 1px solid black; */
  }

  .plumberdata-card {
    width: 100%;
    height: auto;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    border: none;
    /* box-shadow: rgba(235, 168, 137, 0.4) 0px 0px 0px 2px, rgba(231, 182, 158, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.09) 0px 2px .5px; */
  }

   .plumberdata-content {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    flex-direction: column;
    width: 100%;
    box-shadow: 5px 5px 3px lightgray; 
    border: 1px solid lightgray;
    border-radius: 3px;
  } 

  .row-plumberdata, .row-plumberdatalist {
    width: 100%;
  }

  .heading {
    color: #333;
    font-size: 2rem;
    font-weight: 500px;
  }

  mat-subtitle {
    color: #333;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
  }

  ul {
    margin-left: 0px;
  }

  .list-groupQuotes {
    width: 60%;
    margin-left: 0px;
    padding-left: 0px;
    align-items: flex-start;
  }
 
  .list-group {
    border: none;
  }

  .list-group-item {
    font-weight: 500px;
    color: #333;
    border: none;
    justify-content: center;
  }

  .bi-circle-fill {
    font-size: 8px;
    margin-right: 15px;
  }

      /* Trade selection dropdown css */

  .row-image {
    width: 930px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-left: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0px 0px;
    /* border: 1px solid red; */
  }

  .card-image {
    width: 930px;
    display: flex;
    justify-content: center;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 20px; 
    /* border: 1px solid blue; */
  }

  .card-img-wrapper {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 5px;
    /* border: 1px solid blue; */
  }

  .card-img {
    /* width: 430px; */
    /* height: 310px;     */
    height: 100%;
    width: 100%;
  }

  .login-card-wrapper {
    display: flex;
    justify-content: flex-start;
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0px;
    padding-left: 0px;
    margin-left: 0px;
  }

  button {
    width: 345px;
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .row-image {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
  } 

  img {
    width: 430px;
    height: 310px;
    margin: 10px 0px;
    border: 1px solid lightgray;
    box-shadow: 5px 5px 3px lightgray;
    border-radius: 3px;
  } 