* {
  font-family: 'Open Sans', sans-serif;
}

.flex-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
  }

  .plumber-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .row-localplumber {
    width: 100%;
    display: flex;
    justify-content:center;
    flex-direction: row;
  }
  
   mat-card-title {
    margin: 4px;
    padding: 2px;
    color: #333;
    align-items: center;
    font-weight: 500;
  } 

  .plumber-card {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    border: none;
  }

  .card-content {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
  }

  .col-detail {
    display: flex;
    justify-content: center;
    flex-direction: column;    
    padding-left: 12px;
    width: 800px;
  }

  mat-title {
    width: 100%;
    margin: 2px 0px;
    font-size: 26px;
    font-weight: 700;
    color: #333;
    align-items: center;
    padding-bottom: 12px;    
  }
  
  .card-image {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
    border: none;   
  }

  .row-image {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
  }

   .card-img {
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  } 

  img {
    width: 390px;
    height: 290px;
    padding-bottom: 10px;
    margin: 10px;
  } 

  p {
    font-size: 18px;
    color: #333;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
  }

  span {
    /* color: skyblue; */
    /* color: #C3D4F2; */
    color: #87a9e2;
    font-weight: 600;
    justify-content: center;
  }

  a {
    font-size: 18px;
    line-height: 1.5;
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    font-stretch:wider; 
  }

  a:hover {
    text-decoration: underline;
  }
  
          /* Plumber data css code */

  .plumber-data {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 10px;
  }

  .plumberdata-card {
    width: 100%;
    height: auto;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    border: none;
    /* box-shadow: rgba(235, 168, 137, 0.4) 0px 0px 0px 2px, rgba(231, 182, 158, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.09) 0px 2px .5px; */
  }

   .plumberdata-content {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    flex-direction: column;
    width: 900px;
  } 

  .row-plumberdata, .row-plumberdatalist {
    width: 100%;
  }

  .heading {
    color: #333;
    font-size: 3rem;
    font-weight: 700px;
  }

  mat-subtitle {
    color: #333;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
  }

  ul {
    margin-left: 0px;
  }

  .list-groupQuotes {
    width: 60%;
    margin-left: 0px;
    padding-left: 0px;
    align-items: flex-start;
  }
 
  .list-group {
    border: none;
  }

  .list-group-item {
    font-weight: 500px;
    color: #333;
    border: none;
    justify-content: center;
  }

  .bi-circle-fill {
    font-size: 8px;
    margin-right: 15px;
  }

      /* Trade selection dropdown css */

  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .login-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .title {
    margin: 2px 2px;
    font-size: 20px;
    font-weight: 700;
    color: #333;
    align-items: center;
  }

  .sub-title {
    margin: 2px 2px;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    align-items: center;
  }

  .container mat-form-field + mat-form-field {
    margin: 4px 4px;
  }

  .row-select {
    margin-bottom: 8px;
  }

  .col-select {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  button {
    width: 425px;
    margin-top: 10px;
    margin-bottom: 10px;
  }