<div class="container signup-form">
	<form class="col" [formGroup]="userForm" (ngSubmit)="startRegistration()">		
		<mat-card class="login-card">
			
			<mat-card-content>
				<div class="login-title">
					<div class="title">Sign up to be a trade member</div>	
				</div>
				<div class="row">
						<mat-form-field class="mat-fname">
							<mat-label>First Name</mat-label>
							<input matInput placeholder="Enter your first name" formControlName="firstName">	
						</mat-form-field>						
				</div>
				<div class="row">
					<mat-form-field>
						<mat-label>Last Name</mat-label>
						<input matInput placeholder="Enter your last name" formControlName="lastName">	
					</mat-form-field>
				</div>
				<div class="row">
					<mat-form-field>
						<mat-label>Email Address</mat-label>
							<input matInput placeholder="pat@example.com" formControlName="email" required>
						<!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
					</mat-form-field>
				</div>
				<div class="row">
					<mat-form-field class="mat-phone">
						<mat-label>Mobile No</mat-label>
						<div class="row-phone">
							<input matInput placeholder="Enter your mobile no" formControlName="mobile">	
							<span class="material-symbols-outlined" id="symbol-phone">phone</span>
						</div>
					</mat-form-field>
				</div>
				
				<div class="col-sm-12 col-md-12 col-lg-12 login-button">
					<button type="submit" mat-raised-button color="primary" [disabled]="!userForm.valid">Get Started</button>
				</div>
					<mat-divider></mat-divider>
				
				<mat-label class="msg">
					We'll be in touch as soon as possible
				</mat-label>
				<p class="note">Please note: we're not a job agency, we give access to job leads</p>
				<p>You're under no obligation to join, we'll just take a little time to explain how Rated People works over a phone call.</p>
				<p>By completing this form you agree to our <span>privacy policy.</span></p>
			</mat-card-content>
		</mat-card>
	</form> 
</div>
  