<div class="page">
    <mat-card class="box">
        <mat-card-content>
            <div class="about-you-title">
                <div class="title">About you</div>	
            </div>
            <div class="row">
                <label id="type-radio-group-label">You operate as a:</label>
                <mat-radio-group
                    class="type-radio-group"
                    [(ngModel)]="traderType">
                    <mat-radio-button class="type-radio-button" *ngFor="let type of traderTypes" [value]="type" (change)="onTraderTypeChanged(type)">
                        {{type}}
                    </mat-radio-button>
                    </mat-radio-group>
            </div>
            <div class="row">
                <label class="trading-name-label">Your trading name:</label>
                <mat-form-field>
                    <input matInput [(ngModel)]="tradingname">	
                </mat-form-field>
            </div>
            <div class="row" *ngIf="traderType === 'Limited Company' || traderType === 'Limited Partnership'">
                <label class="trading-name-label">Registered company name:</label>
                <mat-form-field>
                    <input matInput [(ngModel)]="registeredcompanyname">	
                </mat-form-field>
            </div>
            <div class="row" *ngIf="traderType === 'Limited Company' || traderType === 'Limited Partnership'">
                <label class="trading-name-label">Company registration number:</label>
                <mat-form-field>
                    <input matInput [(ngModel)]="companyregistrationnumber">	
                </mat-form-field>
            </div>
            <div class="row" *ngIf="traderType === 'Ordinary Partnership'">
                <label class="trading-name-label">Full names of all partners:</label>
                <label class="sub-label">Comma-separated list of all names on the partnership agreement, including yourself (e.g. John Smith, Jane Doe)</label>
                <mat-form-field >
                    <input matInput [(ngModel)]="partnersnames">	
                </mat-form-field>
            </div>
            <div class="row next-button-div">
                <button class="btn btn-primary btn-submit next-button" (click)="next()">Next</button>	
            </div>
        </mat-card-content>
    </mat-card>
</div>