<div class="container col-md-12">
	<form class="col col-sm-12 col-md-12 col-lg-12 pjobs-form">
		<!-- Title -->
		<div class="pjobs-title col-md-12">
			<div class="title">Our most popular jobs</div>	
		</div>
		<div class="row cards-container">
			<mat-card class="pjobs-card col-md-4" (click)="onCardClick()">
				<div class="col card-image">
					<img mat-card-image src="../../assets/Images/PopularJobs/Bathroom.png" alt="Bathroom Design">
				</div>
				<mat-card-content class="card-text">
					<mat-card-subtitle>
						Bathroom Design
					</mat-card-subtitle>
					<mat-card-title>
						Builder 	 	
					</mat-card-title>
				</mat-card-content>
				<div class="mat-card-icon-div">
					<!-- <span><i class="fa fa-chevron-right fa-3x" aria-hidden="true"></i></span> -->
					<span><i class="bi bi-caret-right-fill"></i></span>
				</div>
			</mat-card>

			<mat-card class="pjobs-card col-md-4" (click)="onCardClick()">
				<div class="col card-image">
					<img mat-card-image src="../../assets/Images/PopularJobs/Kitchen.png" alt="Kitchen Installation">
				</div>
				<mat-card-content class="card-text">
					<mat-card-subtitle>
						Kitchen Installation
					</mat-card-subtitle>
					<mat-card-title>
						Kitchen Specialist 	 	
					</mat-card-title>
				</mat-card-content>
				<div class="mat-card-icon-div">
					<span><i class="bi bi-caret-right-fill"></i></span>
				</div>
			</mat-card>

			<mat-card class="pjobs-card col-md-4" (click)="onCardClick()">
				<div class="col card-image">
					<img mat-card-image src="../../assets/Images/PopularJobs/Painter.png" alt="External Wall Painting">
				</div>
				<mat-card-content class="card-text">
					<mat-card-subtitle>
						External Wall Painting
					</mat-card-subtitle>
					<mat-card-title>
						Painter 	 	
					</mat-card-title>
				</mat-card-content>
				<div class="mat-card-icon-div">
					<span><i class="bi bi-caret-right-fill"></i></span>
				</div>
			</mat-card>

			<mat-card class="pjobs-card col-md-4" (click)="onCardClick()">
				<div class="col card-image">
					<img mat-card-image src="../../assets/Images/PopularJobs/Plumber.png" alt="Plumbing Repair">
				</div>
				<mat-card-content class="card-text">
					<mat-card-subtitle>
						Plumbing Repair
					</mat-card-subtitle>
					<mat-card-title>
						Plumber	 	
					</mat-card-title>
				</mat-card-content>
				<div class="mat-card-icon-div">
					<span><i class="bi bi-caret-right-fill"></i></span>
				</div>
			</mat-card>

			<mat-card class="pjobs-card col-md-4" (click)="onCardClick()">
				<div class="col card-image">
					<img mat-card-image src="../../assets/Images/PopularJobs/Carpenter.png" alt="Built-In Furniture">
				</div>
				<mat-card-content class="card-text">
					<mat-card-subtitle>
						Built-In Furniture
					</mat-card-subtitle>
					<mat-card-title>
						Carpenter 	 	
					</mat-card-title>
				</mat-card-content>
				<div class="mat-card-icon-div">
					<span><i class="bi bi-caret-right-fill"></i></span>
				</div>
			</mat-card>

			<mat-card class="pjobs-card col-md-4" (click)="onCardClick()">
				<div class="col card-image">
					<img mat-card-image src="../../assets/Images/PopularJobs/Electrician.png" alt="Internal Lighting">
				</div>
				<mat-card-content class="card-text">
					<mat-card-subtitle>
						Internal Lighting
					</mat-card-subtitle>
					<mat-card-title>
						Electrician 	 	
					</mat-card-title>
				</mat-card-content>
				<div class="mat-card-icon-div">
					<span><i class="bi bi-caret-right-fill"></i></span>
				</div>
			</mat-card>
		</div>
	</form>
</div>
<!-- 
	<i class="fa fa-camera-retro fa-3x"></i>
	<i class="fa-solid fa-chevron-right"></i>
 -->
<!-- builder - bathroom Design
electrician - Internal lighting
Carpenter - Built-in Furniture
Plumber -plumbing repair and maintenance
painter - external wall painting
kitchen specialist -kitchen installation -->