.container {
    width: 100%;
    height: 100vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
  }

  .login-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .login-title {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 10px;
  }

  .title {
    width: 350px;
    margin: 4px;
    padding: 4px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    color: rgb(121, 121, 121);
    align-items: center;
  }

  mat-card-title {
    margin: 4px;
    padding: 4px;
    color: rgb(121, 121, 121);
    align-items: center;
    font-weight: 500;
  }

  mat-card-header {
    margin: 10px 0px;
  }

  .login-card {
    width: 400px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 6px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }

  mat-card-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .container mat-form-field {
    margin: 4px 0px;
  }

  .col-email, .col-password {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button {
    width: 360px;
    margin-top: 20px;
  }
 
  a {
    margin-top: 10px;
    font-weight: 400;
    text-decoration: underline;
  }

  mat-divider {
    margin-top: 10px;
    color: rgb(121, 121, 121);
  }
  