.container {
  width: 100%;  
}

.home-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  width: 450px;
  margin: 10px;
  padding: 20px;
  font-size: 50px;
  font-weight: 800;
  line-height: 1;
  color: rgb(233, 80, 10);
  align-items: center;
}

.sub-title {
  font-size: 20px;
  color: rgb(233, 80, 10);
  align-items: center;
  margin: 20px;
}

.row-form-label {
    font-size: 0.80rem;
    color: #211c23;
    font-weight: 600;
}

form {
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: row;
  margin-top: 50px;
}

.dropdown-container {
  flex: 1;
  margin-right: 10px;
}

select {
  width: 250px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #575d63;
}

select > option {
  color: #575d63;
}

.btn-submit {
  /* margin-top: 10px;
  padding: 8px 10px; */
  /* background-color: #007bff;
  color: #fff; */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}




  

  
  
      