<form class="col col-sm-12 col-md-12 col-lg-12" (ngSubmit)="onSubmit()" #myForm="ngForm">	
    <mat-card class="login-card">
        <mat-card-content>
            <div>
                <mat-title>
                    <div class="login-title">
                        Post your job for free. Get quotes. Read reviews.
                    </div>
                </mat-title>
            </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-select">
                    <label for="tradeperson" class="form-label">What type of tradeperson do you need?</label>
                    <mat-form-field class="mat-trade">
                        <mat-label>Select your trade</mat-label>
                        <mat-select [(ngModel)]="selectedTradeperson" (selectionChange)="onTradepersonSelect($event)">
                            <mat-option *ngFor="let tradeperson of filteredTradeperson" [value]="tradeperson.Id">{{tradeperson.Title}}</mat-option>																
                        </mat-select>
                    </mat-form-field>

                    <label for="job" class="form-label">What type of job is it?</label>
                    <mat-form-field class="mat-job">
                        <mat-label>Please select job</mat-label>
                        <mat-select [(ngModel)]="selectedJob" (selectionChange)="onJobSelect($event)">
                            <mat-option *ngFor="let job of filteredJob" [value]="job.Id">{{job.Title}}</mat-option>																
                        </mat-select>
                    </mat-form-field>
                </div>
            
            <div class="col-sm-12 col-md-12 col-lg-12 login-button">
                <button mat-raised-button color="primary">NEXT STEP ></button>
            </div>
        </mat-card-content>
    </mat-card>
</form>